<div class="row justify-content-center">
  <div class="col-6 text-center">
    <img src="../../../assets/evergreen.png" alt="evergreen pic" width="50%">
    <h2>Lorem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Fringilla est ullamcorper eget nulla
      facilisi etiam. Lorem ipsum dolor sit amet consectetur adipiscing. Habitasse platea dictumst quisque sagittis
      purus. Gravida rutrum quisque non tellus orci ac auctor augue. Ullamcorper sit amet risus nullam eget felis eget
      nunc lobortis. Eu augue ut lectus arcu. Magna eget est lorem ipsum dolor sit amet. Ut venenatis tellus in metus
      vulputate eu scelerisque. Magna ac placerat vestibulum lectus mauris ultrices. Auctor neque vitae tempus quam
      pellentesque.

      Elit pellentesque habitant morbi tristique senectus et netus et. Blandit massa enim nec dui nunc mattis enim.
      Nibh ipsum consequat nisl vel. Faucibus interdum posuere lorem ipsum dolor sit amet. Pellentesque nec nam
      aliquam sem et tortor consequat. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Arcu
      bibendum at varius vel pharetra vel turpis nunc. Consequat mauris nunc congue nisi vitae suscipit. Nec nam
      aliquam sem et tortor consequat id porta nibh. Iaculis urna id volutpat lacus laoreet. Amet nulla facilisi morbi
      tempus iaculis urna. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Aenean et tortor at risus
      viverra adipiscing at in. At lectus urna duis convallis convallis tellus id interdum velit.
    </p>
  </div>
</div>
